<div class="flex  w-full bg-blue-500  justify-center">
    <div class="flex flex-row w-8/12    py-6 px-0 ">
       
        <div class="flex flex-row space-x-8 pr-4  ">
            <p class="text-lg font-bold zinc">Panel</p>
            <p class="text-lg font-bold">Categorias</p>
            <p class="text-lg font-bold">Habitaciones</p>
            <p class="text-lg font-bold">Reservas</p>
        </div>
       <div class="flex flex-row space-x-4 ">
            <p> {{ username }}</p>
            <p> {{ role }}</p>
       </div>

    </div>

</div>